/* Hide default cursor */

::selection{
  background-color: rgb(255, 213, 213);
}
body {
  display: flex;
  flex-direction: column;
  cursor:pointer;
  background-color: #f0f5f5;
  font-family: "Ploni ML v2 AAA test", sans-serif;
  caret-color: transparent; 
  align-items: center;
  width: 100vw;
  margin: 0;
  padding: 0;
}
@media (max-width: 768px) {
  body{
    overflow: hidden; ;
  }
}

.bird {
  position: relative;
  width: 130px;
  z-index: 10; /* Adjusted to a more reasonable value */
  transform: translate(-3rem, 9.5rem);
}
.bird{
@media (max-width: 768px) { 
transform: translate(0rem, 13.3rem);
width: 110px;
}}

p{
  color: #4c4c4c;
}

h1 {
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  font-weight: 100;
  margin-bottom: 6rem;
}
h1{
@media (max-width: 768px) {
  margin-bottom: 10rem;
}
}

h3 {
  font-family: "Ploni ML v2 AAA test", sans-serif;
  font-weight: 500;
  font-size: 18px;
  font-weight: 700;
}
.question {
  width: 100vw;
  display: flex;
  flex-direction: column;
  max-width: 820px;
  font-weight: 400;
  font-size: 18px;
  direction: rtl;
  letter-spacing: 0.3px; 
  line-height: 24px;
}

@media (max-width: 768px) { 
  .question {
  width: 90vw;
  }

}


.q-a-dropdown.space-between.split{
  display: flex; 
  flex-direction: column;
  gap: 1rem;
}
@media (max-width: 768px) { 
  .q-a-dropdown.space-between.split {
  }
}
.card::before{
 height: 70px;
  color: #4c4c4c;}

.card::after{
  height: fit-content;
}
.card { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 28px 10px 24px;
  background-color: rgb(255, 255, 255);
  border-radius: 18px;
  align-items: center;
}

.plus {
  flex: none;
}

@media (max-width: 768px) { 
  .card {
  border-radius: 10px;
  max-height: 70px;
  gap: 1rem;
  }
}



.card:hover{
  .question{font-weight: 500;
  letter-spacing: 0.28px;}
  p{color: #000000;}
  box-shadow: 10px 30px 40px 5px rgba(142, 150, 159, 0.247);
}



.other-questions {
  display: flex;
  flex-direction: row-reverse;
  direction: rtl;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  height: 20px;
}



/* Style for custom cursor */


#custom-cursor {
  position: absolute;
  pointer-events: none; /* Ensure cursor doesn't interfere with mouse events */
  z-index: 9999; /* Ensure cursor is on top of other elements */
}
#custom-cursor {
  @media (max-width: 1920px) { 
    #custom-cursor {
      width: 40%; /* Adjust width for smaller screens */
      height: 50%; /* Adjust height for smaller screens */
    }
}}
@media (max-width: 768px) { 
  #custom-cursor {
    width: 75%; /* Adjust width for smaller screens */
    height: 70%; /* Adjust height for smaller screens */
  }
}

